* {
    margin: 0;
    padding: 0;
}

:root {
    --rootcolor: #634793;
}

body,
html {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.text-center{
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
}

.container,
header {
    padding: 30px 100px;
}

ul {
    list-style: none;
    color: whitesmoke;
    display: flex;
}

p {
    font-size: 20px;
    color: #53537F;
}

h5 {
    color: #53537F;
}

.Ballistic {
    color: black;
}

h2 {
    font-size: 30px;
    font-weight: 900;
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.btn {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.btn:hover {
    background-color: #7858B2;
    cursor: pointer;
}
.BBT:hover {
    opacity: 0.75;
    cursor: pointer;
}

.images {
    opacity: 0.5;
}

.images:hover {
    opacity: 1;
}


/* header styling */

header {
    background-color: var(--rootcolor);
}

ul>.items {
    padding-left: 10px;
    margin: 0 20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    width: 60%;
}

.header-content {
    padding: 40px 0;
    display: flex;
    color: whitesmoke;
}

.header-content>.info>h1 {
    font-weight: 700;
    font-size: 60px;
    padding-bottom: 20px;
}

.header-content>.info {
    padding-top: 20px;
}

.header-content>.info>p {
    flex: 1;
    padding-bottom: 40px;
    font-size: 23px;
}

.button-container>.btn {
    padding: 15px 40px;
}

.button-container>.view {
    margin-left: 30px;
}

.button-container>.learn {
    background-color: white;
    color: var(--rootcolor);
}


/* //about1 */

.about1-c,
.about2-c {
    margin: 80px 0;
   
}
.gbg{
     background-color: rgba(223,208,250,.15);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box>.row {
    justify-content: flex-start;
}

.about1>.about1-text {
    padding: 20px 70px;
    text-align: center;
}

.about1-text>p {
    padding: 40px 40px;
}

.icons-container>img {
    width: 50px;
    padding: 0 10px 30px 0;
}

.boxes {
    margin: 40px;
}

.box {
    flex-basis: 1;
    width: 300px;
}

.box>h4 {
    margin: 20px 0;
    font-weight: 900;
}

.box>p {
    font-size: 17px;
    line-height: 25px;
}

.fet-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fet-btn-containers {
    display: flex;
    align-items: center;
}

.fet-btn-container>.btn {
    background-color: var(--rootcolor);
    color: whitesmoke;
    padding: 15px 20px;
}

.fet-btn-containers>.btn {
    background-color: var(--rootcolor);
    color: whitesmoke;
    padding: 15px 20px;
}

.btn:hover {
    background-color: #7858B2;
    cursor: pointer;
}

.about2 {
    background-color: #FAF8FE;
}

.about2>.text-sec {
    text-align: center;
    margin: 0 80px;
}

.ti-pair {
    justify-content: space-around;
    flex: 1;
}

.text-sec>p {
    padding-top: 40px;
    font-size: 23px;
}

.image-cont>img {
    width: 600px;
}

.txt-cont {
    padding: 0 120px;
}

.txt-cont>p {
    padding-top: 30px;
    line-height: 30px;
}

.flexing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 150px;
}
.fleeing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;

}
.fleeingb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 17%;
    margin-right: 17%;

}
.flexings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

#felx>div {
    height: 50px;
}

.flexingss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.em {
    font-size: 1em;
}

.ez {
    width: 90%;
    width: 50%;
    background-color: transparent;
    margin-left: 400px;
}

.fleeing>div {
    
    margin-top:50px;
    
}
.flexing>div {
    width: 130px;
    margin: 10px;
    text-align: center;
}

.flexing>div>img {
    width: 100px;
}

.BBT {
    height: 40px;
    width: 120%;
    background-color: rgba(127, 214, 115);
    border-radius: 10px;
    color: #fff;
    border: none;
}


.ncss {
    margin-left: 35%;
}

.ctext {
    font-size: 90%;
    color: #000;
    padding-left: 10%;
    width: 200%;
    margin-bottom: 20px;
    margin-top: 15px;
}

.plans {
    background-color: #fff;
    border-radius: 45px;
    margin-top: 100px;
    padding-bottom: 100px;
}

.coll {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#felx {
    width: 90%;
    width: 50%;
    background-color: transparent;
    margin-left: 400px;
    padding-bottom: none;
    margin-bottom: none;
    padding-top: none;
    margin-top: none;
}

.undereditor {
    margin-top: 50px;
    margin-bottom: 50px;
}

.htme {
    margin-left: 100px;
    margin-top: 30px;
}

.gcicle {
    height: 20px;
    width: 20px;
    background-color: rgba(127, 214, 115);
    border-radius: 100%;
}

.pcicle {
    height: 20px;
    width: 20px;
    background-color: #ce45b8;
    border-radius: 100%;
}

.blan {
    color: transparent;
}

.bcicle {
    height: 20px;
    width: 20px;
    background-color: #2588e7;
    border-radius: 100%;
}

table {
    width: 100%;
   padding: 30px;
    text-align: left;
    margin: 100px 30px;

}

.colorme {
    background-color: rgba(223, 208, 250, .15);
    border-color: black;
    color: rgba(99, 65, 148, var(--text-opacity));
    border: 0 solid #e2e8f0;

}

.table-data-container-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

}
.table-data-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;

}

.gcicle,.pcicle,.bcicle {
    margin-right: 10px;
}

.EndOfWebsite{
width: 100%;
margin-top: 200px;
 text-align:center;
}
.ImNumber1{
    
 
    text-align: right;
    display: flex;
    flex-basis: 40%;
}
.ImNumber2{
 
    text-align: left;
         margin-left: 50px;
  
    display: flex;
}
.verycreativeclassname{
    text-align: left;
     margin-top: 6.25%;
      margin-left:50px;
}
.verycreativeclassname>p{
    margin-top: 20px;
}
.bestnameofaclassever{
    margin-bottom: 300px;
}
.bestnameofaclassevera{
    margin-bottom: 150px;
}

#view-more{
    justify-content: flex-start;
}

.footer{
    display: flex;
    flex-direction: row;
    border-top: 1px solid #53537F;
}

.left-footer{
    flex: 1;
}

.right-footer{
    flex:1;
}

.my-contact{
    color: #000;
}

.footer-list{
    color: #53537F ;
}